[Unit]
Description=Startup stuff for Hawkbook

[Service]
User=hawkens
ExecStart=/home/hawkens/startup/hawkboot.sh

[Install]
WantedBy=multi-user.target
